<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title><%= "Login - #{APP_CONFIG['site_title']}" %></title>
		<link rel="shortcut icon" media="screen" type="image/x-icon" href="/images/favicon.ico" />
		<%= stylesheet_link_tag 'font-awesome.css', 'common.css', 'login.css' %>
		<%= javascript_include_tag 'jquery.min.js' %>
	</head>
	<body>
		<div class="div-login-main">
			<div class="div-login-content">
				<div class="div-login-title">
					<span>Sign In</span>
				</div>
				<div class="div-login-form">
					<% form_for @account, url('/login') do |f| %>
						<div class="div-login-field">
							<div class="div-login-form-e">
								<span>USERNAME</span>
								<%= f.text_field :name, :class => "form-control form-field", :placeholder => "Your Name" %>
							</div>
							<div class="div-login-form-e">
								<span>PASSWORD</span>
								<%= f.password_field :password, :class => "form-control form-field", :placeholder => "Your Password" %>
							</div>
						</div>
						<div class="div-login-bottom">
							<%= f.submit "Login", :class => "btn btn-login" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</body>
</html>