<%= javascript_include_tag 'module.min.js', 'hotkeys.min.js', 'uploader.min.js', 'simditor.js' %>
<%= stylesheet_link_tag 'github.css' %>
<%= stylesheet_link_tag 'simditor.css' %>
<div class="div-blog-edit-content">
    <div class="div-blog-edit-content-main">
        <% form_for Blogs.new, url('admin/blog/' + @blog.id.to_s) do |f| %>
            <h4>Title</h4>
            <%= f.text_field :blog_title, :class => "form-control text-edit", :placeholder => "Title", :value => @title %>
            <div class="div-blog-body">
                <ul class="nav nav-tabs nav-nb">
                  <li id="blogEditLi" role="presentation" class="active"><a id="blogEditBody"><i class="fa fa-code fa-fw"></i>&nbsp;Edit</a></li>
                  <li id="blogPreviewLi" role="presentation"><a id="blogEditPreview"><i class="fa fa-eye fa-fw"></i>&nbsp;Preview</a></a></li>
                </ul>
                <textarea class="div-blog-edit form-control" id="BlogEditArea">
                    <%= @blog.md_file_content %>
                </textarea>
                <div class="div-blog-edit-preview markdown-body"></div>
            </div>
            </br>
            <h4>Tags</h4>
            <%= f.text_field :blog_tag, :class => "form-control text-edit tag-edit-text", :placeholder => "用逗号分开，Tag必须是字母数字空格下划线和中文", :value => @blog.tag_list %>
            <div class="div-tag-cloud">
                <%= tag_cloud %>
            </div>
            <a href="/blog/<%= @blog.id.to_s %>" class="btn-edit btn btn-danger">Cancel</a>
            <%= f.submit "Submit", :class => "btn-edit btn btn-primary" %>
        <% end %>
    </div>
</div>
<script>
    var editor = new Simditor({
      textarea: $('#BlogEditArea'),
      upload: true,
      pasteImage: true
    });
    $('.simditor').css('border', '0px');
    $('#blogEditBody').click(function() {
        $('#blogEditLi').addClass('active');
        $('#blogPreviewLi').removeClass('active');
        $('.div-blog-edit-preview').hide();
        $('.simditor').show();
    });

    $('#blogEditPreview').click(function() {
        evalue = editor.getValue();
        $('#BlogEditArea').html(evalue);
        blogContent = $('#BlogEditArea').text();
        $.ajax({
          url: '/admin/blog/preview',
          data: {'data': blogContent},
          method: 'get',
          contentType: 'text/plain',
          success: function(data) {
            $('.div-blog-edit-preview').html(data);
            $('#blogEditLi').removeClass('active');
            $('#blogPreviewLi').addClass('active');
            $('.div-blog-edit-preview').show();
            $('.simditor').hide();
          },
          error: function(status, error) {
          }
        });
    
    });
</script>