<%= stylesheet_link_tag 'github.css' %>
<div class="div-post">
    <div class="div-title">
        <span><%= @blog.title %></span>
    </div>
    <div class="div-date-sider">
        <div class="ribbon">
            <div class="container_div">
                <div class="base">
                    <span class="span-date"><%= create_time_to_word @blog.create_datetime.to_s %></span>
                </div>
                <div class="left_corner"></div>
                <div class="right_corner"></div>
            </div>
        </div>
    </div>
    <div class="div-post-con">
        <div class="markdown-body div-text">
            <%= md_content_helper @blog.md_file_url %>
        </div>
        <div class="div-info">
            <div class="div-tag">
                <i class="fa fa-tag"></i>
                <ul class="post-tags-list">
                    <% @blog.tag_list.each_with_index do |tag, index| %>
                    <li>
                        <% if index == 0 %>
                            <%= link_to "&nbsp; " + tag.to_s, "/tags/" + tag.to_s, :class => "a-tag" %>
                        <% else %>
                            <%= link_to tag.to_s, "/tags/" + tag.to_s, :class => "a-tag" %>
                        <% end %>
                    </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="div-pages-comments">
        <div class="div-comments">
            <div class="div-comment-count">
                <span id="spanCommentNum"><%= @blog.blog_comments.length %></span> comments
            </div>
            <div class="div-comments-wrap">
                <%= partial 'blog/comment', :collection => @blog.blog_comments.reverse %>
                <div class="div-comment-input">
                    <div class="div-comment-avater">
                        <img class="img-comment-portrait" src="../images/comment_avater.png">
                    </div>
                    <% form_for BlogComments.new, url('blog/' + @blog.id.to_s + '/comments'), :class => "comment-form form-remote" do |f| %>
                        <%= f.text_field :username, :class => "form-control comment-input comment-user-form-input", :placeholder => "Name" %>
                        <%= f.text_area :comment, :class => "form-control comment-input", :id => "comment_content", :placeholder => "Comment", :rows => "8" %>
                        <div id="comment_content_preview" class="markdown-body form-control comment-input hidden comment-preview"></div>
                        <div class="div-comment-b">
                            <span>[评论可以使用Markdown格式]</span>
                            <div class="div-comment-button">
                                <button type="button" class="md-preview btn-comment btn btn-default">Preview</button>
                                <%= f.submit "Submit", :class => "btn-comment btn btn-primary" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>